:root {
  --primary-bg-color: #ffff;
  --primary-color: #fc3e1c;
  --secondary-color: #9e9999;
  --primary-color-hover: #bb361e;
}

html,
body {
  height: 100vh;
  margin: 0;
  width: 100%;
}

/* Estilos login*/
.container-main-log {
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

/*Login */
.login-container {
  background-color: var(--primary-bg-color);
  backdrop-filter: blur(10px);
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 40px;
  width: 320px;
  text-align: center;
  color: black;
}

/* Título */
.login-container h1 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  text-align: left;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  outline: none;
}

.login-form button {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.05);
}

#titulo {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

/*////////////////////////////////////////////////////////*/

/* Estilos MAIN*/
.container-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.main {
  width: 100%;
  min-height: 0;        
  padding: 20px;       
  overflow: auto;
  box-sizing: border-box;   
}

/* Header */
.head {
  background-color: var(--primary-color);
  color: white;
  display: grid;
  justify-items: center;
}

/* La navbar */
nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  background-color: var(--secondary-color);
  width: 100%;
  gap: 10px;
  padding: 10px 0;
}

nav a {
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover {
  transform: scale(1.2);
  color: var(--primary-color-hover);
}

/* Main o parte principal*/


/* Footer del proyecto*/
.foot {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
.foot p:hover {
  color: #fff;
}
span {
  color: #ffff;
  transition: color 0.2s ease;
}
span:hover {
  color: var(--primary-color);
}


.error{
  color: #fc3e1c;
  font-weight: bold;
}


/* Estilos de la isnerccion de un nuevo productos */
.login-form-productos{  
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  gap: 15px 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form-productos textarea{
  max-width: 250px;
  min-height: 25px; 
}
.login-form-productos #activo{
  max-height:40px;
}

@media (max-width: 768px) {
    .login-form-productos {
      grid-template-columns: auto 1fr;
      max-width: 95%; 
      padding: 10px;
    }
    .login-form-productos input{
      width: 200px;
    }
    .login-form-productos select{
      width: 60%;
    }
}