:root {
  --primary-bg-color: #ffffff;
  --primary-color: #fc3e1c;
  --secondary-color: #9e9999;
  --primary-color-hover: #bb361e;
  --text-color: #333;
}

/* --- PERSONALIZACIÓN DE GRID.JS --- */

/* 1. Contenedor Principal */
.gridjs-container {
    font-family: inherit;
    color: var(--text-color);
    margin-top: 20px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--primary-bg-color);
}

/* 2. Cabecera (Header) */
.gridjs-head {
    padding-bottom: 0;
}

th.gridjs-th {
    background-color: var(--primary-color); 
    color: #ffffff;                         
    border: none;
    padding: 15px;
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.95rem;
    border-right: 1px solid rgba(255,255,255,0.2);
}

th.gridjs-th:hover{
    background-color: var(--primary-color-hover);
}

/* Flechas de ordenación (blancas) */
.gridjs-sort {
    float: right;
    filter: invert(1) brightness(2);
}

/* 3. Filas y Celdas (Body) */
td.gridjs-td {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid #eee;
    padding: 12px 15px;
    color: var(--text-color);
    font-size: 0.9rem;
}

/* Efecto Hover */
tr.gridjs-tr:hover td.gridjs-td {
    background-color: #fff5f3; 
    cursor: default;
}

/* 4. Barra de Búsqueda */
.gridjs-wrapper {
    border-radius: 0;
    border: 1px solid #e5e7eb;
    box-shadow: none;
}

.gridjs-search {
    float: left;
    margin-bottom: 15px;
}

.gridjs-search-input {
    padding: 8px 12px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    outline: none;
    font-size: 0.9rem;
    transition: all 0.3s;
    width: 250px;
}

.gridjs-search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(252, 62, 28, 0.1); 
}

/* 5. Paginación (Footer) */
.gridjs-footer {
    background-color: #fafafa;
    border-top: 1px solid #eee;
    padding: 10px;
}

.gridjs-pagination .gridjs-pages button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--text-color);
    margin: 0 2px;
    outline: none;
    transition: all 0.2s;
}

.gridjs-pagination .gridjs-pages button:hover {
    background-color: #eee;
    color: var(--text-color);
}

/* Botón de página activa */
.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    font-weight: bold;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}