<div class="container-recepcion">
    <h2 class="titulo-recepcion">Registro de Entrada de Stock</h2>

    <div id="alerta-sistema"></div>

    <form id="form-recepcion" class="form-recepcion" action="#" method="POST">

        <!-- Aquí se inyectarán las filas creadas por JS -->
        <div id="productos-container" class="container-stock"></div>

        <div class="controles-recepcion">
            <button id="nuevoProductoBtn" class="btn-producto">Nuevo Producto</button>
            <button type="submit" class="btn-recepcion">Almacenar</button>
        </div>

    </form>
</div>